.success {
    border: solid 5px green;
    border-radius: 13px;
    padding: 10px;
    color: green;
    background-color: #d3d3d3;
}
.error {
    border: solid 5px red;
    border-radius: 13px;
    padding: 10px;
    color: red;
    background-color: #d3d3d3;
}
